.s-bg{
    background-color: rgb(192, 238, 192);
}
.s-mg{
    margin-top: 60px;
}
.s-sign-in{
    border-radius: 20px;
    background-color: rgb(36, 221, 36);
}

.nav-item{
    margin-right: 15px;
}
.s-s1{
    height: 300px;
}
.s-heading{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.s-btn{
    background-color:rgb(36, 221, 36) ;
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius:30px;
}
.card-img-top{
    padding: 15px;
}
.s-card-text{
    margin-top: 15px;
}
.s-card-btn{
    background-color: rgb(36, 221, 36); 
    border-radius: 30px;
}
.s-card-padding{
    padding:20px;
}

.s-testimonial{
    width:600px;
}

.s-testi-img{
    margin-right:25px;
}

footer{
    height:200px;
    padding: 50px;

}
.a-text{
    text-decoration: none;
    color: white;
}